.detail-container {
  background: rgba(255, 255, 255, 0.1);
  border-radius: 20px;
  box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.2);
  display: flex;
  width: 80%;
  margin: 60px auto;
}

.detail-box {
  width: 60%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* ------------ HEADER ------------- */

.detail-box-header {
  display: flex;
  align-items: center;
  width: 100%;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}

.detail-header-id {
  width: 20%;
  margin-left: 10px;
  text-align: center;
  font-size: 35px;
  color: rgba(255, 255, 255, 0.4);
  font-weight: bold;
}

.detail-header-title {
  width: 80%;
  margin-left: -40px;
  text-align: center;
  text-transform: capitalize;
  font-size: 40px;
  color: rgba(255, 255, 255, 0.4);
}

/* ------------ BODY ------------ */

.detail-box-body {
  display: flex;
  width: 100%;
  color: #fff;
  text-align: center;
  padding: 10px;
}

.detail-info {
  width: 40%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.detail-stats {
  width: 60%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  color: #fff;
  text-align: start;
  margin: 0 auto;
}

/* ------------ FOOTER ------------ */

.detail-box-footer {
  display: flex;
  flex-direction: column;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  border-top: 1px solid rgba(0, 0, 0, 0.1);
  padding: 10px;
}

.detail-evolutions {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 80%;
  color: #fff;
  text-align: start;
  margin: 0 auto;
}

.evolutions {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.evolutions img {
  width: 130px;
}

/* ------------ IMAGE SECTION ------------ */

.image-box {
  width: 40%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.image-box img {
  /* margin-top: -60px; */
  width: 100%;
}

@media (max-width: 900px) {
  .detail-container {
    width: 100%;
    flex-direction: column-reverse;
  }
  .detail-box {
    width: 100%;
  }

  .image-box {
    margin: 0 auto;
  }
}

@media (max-width: 600px) {
  /* ------------ HEADER ------------ */
  .detail-box-header {
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .detail-header-id,
  .detail-header-title {
    width: 100%;
    margin: 0;
    font-size: 20px;
  }


  /* ------------ BODY ------------ */

  .detail-box-body {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .detail-info {
    width: 100%;
  }

  .detail-stats {
    width: 100%;
  }

  /* ------------ FOOTER ------------ */

  .detail-evolutions {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}
